.home-hero{
    position: relative;
    width: 1263px;
    height: 50vw;
    background-image: url('../../assets/imgs/cover2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;
}